.listdiv{
display:flex;
flex-direction:row;
}


.availablemeals{
    width: 60%;
    margin: auto;
    margin-top: 1rem;
}

.items{
    list-style: none;
    border-bottom: 0.5px dotted grey;       
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom:1rem;
}

.items .h3{
    margin: 0 0 0.25rem 0;
}

.items .itembox{
    display:flex;
    flex-direction:column;
}

.items .description{
    font-style: italic;
}

.price{
    color: #cc0000;
    font-weight: bold;
}